@import "tailwindcss";

/* Preline UI (v4 way) */
@import "preline/variants.css";
@source "./node_modules/preline/dist/*.js";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

/* App-wide tweaks */
html, body, #root { height: 100%; }

/* Custom colours */
@theme {
    --color-xibo-blue-50: #E1F0FF;
    --color-xibo-blue-100: #BCD5FF;
    --color-xibo-blue-200: #9EBFFF;
    --color-xibo-blue-300: #80A9FF;
    --color-xibo-blue-400: #6194FF;
    --color-xibo-blue-500: #3F7FFF;
    --color-xibo-blue-600: #0E70F6;
    --color-xibo-blue-700: #0059D3;
    --color-xibo-blue-800: #0042AE;
    --color-xibo-blue-900: #02266C;
    --color-xibo-blue-950: #001338;

    --color-xibo-burnt-sienna-50: #FFE7D0;
    --color-xibo-burnt-sienna-100: #FFCAAA;
    --color-xibo-burnt-sienna-200: #FBB193;
    --color-xibo-burnt-sienna-300: #FB9879;
    --color-xibo-burnt-sienna-400: #F38869;
    --color-xibo-burnt-sienna-500: #EB7857;
    --color-xibo-burnt-sienna-600: #D46647;
    --color-xibo-burnt-sienna-700: #BB5235;
    --color-xibo-burnt-sienna-800: #9B3A21;
    --color-xibo-burnt-sienna-900: #7A2510;
    --color-xibo-burnt-sienna-950: #581400;

    --color-xibo-black: #000;
    --color-xibo-grey: #484848;
    --color-xibo-seasalt: #F7F7F7;
    --color-xibo-white: #FFFFFF;
}